@font-face {
  src: url("CursedTimerUlil-Aznm.ttf");
  font-family: "Cursed Timer ULiL";
}

body {
    margin: 0;
    background: url(basketball.jpg);
    background-size: cover;
}

.container {
    display: flex;
    justify-content: space-around;
    background:#1B244A;
    color: #EEEEEE;
    max-width: 575px;
    max-height: 425px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 40px;
    font-weight: 700; 
    margin: auto;
    border: #9AABD8 solid 2px;
    border-radius: 5px;
}

.score-board-font {
    font-family: "Cursed Timer Ulil";

    
}
.score-board {
    background: #080001;
    height: 120px;
    width: 117px;
    text-align: center;
    color: #F94F6D;
    padding: 0 18px;
    margin: 21px 0 26px 0;
    font-size: 90px;
    font-weight: 400; 
    border: #9AABD8 solid 1px;
    border-radius: 5px;
}


.btn-all {
    justify-items: center; 
    margin: 26px 0 69px 0; 
}

.btn {
    background: none;
    color: #9AABD8;
    font-size: 18px;
    border: #9AABD8 solid 1px;
    border-radius: 5px;
    padding: 7px 10px; 
}

.btn:hover {
    background: #9AABD8;
    color: #1B244A;
}

#newGame {
    background: #1B244A;
    display: flex;
    margin: 20px auto;
    padding: 15px 30px;
    border: #9AABD8 solid 2px;
    
}

#newGame:hover {
    background: #9AABD8; 
    color: #1B244A;

}